footer {
  background: #063255;
  min-height: 60vh;
  position: relative;
  display: flex;
  padding: 40px 0;

  .left-bottom {
    background: #f58a07;
    height: 137px;
    width: 20px;
    padding: 40px 20px;
    position: absolute;
    bottom: 0;
    border-top-right-radius: 13px;
  }
  .right-top {
    position: absolute;
    width: 53px;
    height: 287px;
    top: 30px;
    right: 0;
    border-radius: 20px 0px 0px 20px;
    background: #f58a07;

    padding: 40px 20px;
  }

  .footer {
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 30px;
    padding: 20px;

    .footer-card {
      display: flex;
      flex-direction: column;
      gap: 25px;

      h3 {
        font-family: Poppins;
        font-size: 18px;
        font-weight: 600;
        line-height: 27px;
        text-align: left;

        color: #fff;
      }

      h2 {
        font-family: Poppins;
        font-size: 36px;
        font-weight: 600;
        line-height: 44px;
        letter-spacing: -0.03em;
        text-align: left;
        color: #fff;
      }
      a {
        font-family: Poppins;
        font-size: 18px;
        font-weight: 600;
        line-height: 27px;
        text-align: left;
        color: #fff;
      }
      .social {
        display: flex;
        gap: 20px;
      }
      h4 {
        margin-top: 100px;
      }

      input {
        padding: 20px 30px;
        border-radius: 31px;
        border: none;
      }

      p {
        margin-top: 117px;
        font-family: Poppins;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        text-align: left;
      }
    }
  }
}

@media (max-width: 768px) {
  footer {
    background-color: #063255;
    position: relative;
    display: flex;
    padding: 40px 0;

    .left-bottom {
      background: #f58a07;
      height: 137px;
      width: 20px;
      padding: 40px 20px;
      position: absolute;
      bottom: 0;
      border-top-right-radius: 13px;
    }
    .right-top {
      position: absolute;
      width: 53px;
      height: 287px;
      top: 30px;
      right: 0;
      border-radius: 20px 0px 0px 20px;
      background: #f58a07;

      padding: 40px 20px;
    }

    .footer {
      display: flex;
      align-items: start;
      justify-content: center;
      gap: 30px;
      padding: 20px;
      flex-wrap: wrap;

      .footer-card {
        display: flex;
        flex-direction: column;
        gap: 25px;

        h3 {
          font-family: Poppins;
          font-size: 18px;
          font-weight: 600;
          line-height: 27px;
          text-align: left;

          color: #fff;
        }

        h2 {
          font-family: Poppins;
          font-size: 30px;
          font-weight: 600;
          line-height: 44px;
          letter-spacing: -0.03em;
          text-align: left;
          color: #fff;
        }
        a {
          font-family: Poppins;
          font-size: 18px;
          font-weight: 600;
          line-height: 27px;
          text-align: left;
          color: #fff;
        }
        .social {
          display: flex;
          gap: 20px;
        }
        h4 {
          margin-top: 100px;
        }

        input {
          padding: 20px 30px;
          border-radius: 31px;
          border: none;
        }

        p {
          margin-top: 117px;
          font-family: Poppins;
          font-size: 16px;
          font-weight: 500;
          line-height: 24px;
          text-align: left;
        }
      }
    }
  }
}
