.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative; /* Pozitsiyani nisbiy qilib qo'yish menyuni joylashishiga yordam beradi */
  position: fixed;
  width: 100%;
  z-index: 1000;
  background-color: #fff;
  padding: 40px 160px;
  transition: 1s;
  top: 0;
  right: 0;
  left: 0;

  .burger-btn {
    display: none; /* Burger tugmasi default holatda yashiringan */
  }

  .list {
    display: flex;
    align-items: center;
    gap: 30px;

    &-item {
      list-style: none;

      &-link {
        font-family: Poppins;
        font-size: 16px;
        font-weight: 600;
        line-height: 24px;
        text-align: left;
        color: #394149;
        transition: all 0.7s ease;

        &:hover {
          color: #f58a07;
        }
      }

      &:last-child {
        background-color: #f58a071a;
        padding: 10px;
        border-radius: 15px;
        transition: all 0.6s ease;

        a {
          font-family: Poppins;
          font-size: 16px;
          font-weight: 600;
          line-height: 17.04px;
          text-align: left;
          color: #f58a07;
        }

        &:hover {
          background-color: #f0c99d;
        }
      }
    }
  }
}

.navbar-shrink {
  padding: 30px 160px;
}

@media (max-width: 768px) {
  .navbar {
    padding: 20px 30px;

    .list {
      padding: 20px;
      position: absolute;
      flex-direction: column;
      right: 0;
      top: 90px;
      background-color: #a2b1c0;
      width: 100%;
      display: none; /* Dastlab menyu yopiq bo'ladi */
      z-index: 1000; /* Boshqa elementlar ustiga chiqishi uchun */
    }

    .burger-btn {
      display: block; /* Mobil ekranlar uchun burger tugmasini ko'rsatish */
    }

    /* Burger menyu ochilganda */
    .burger-show .list {
      display: flex; /* Ochilganda menyuni ko'rsatish */
    }
  }
}
