@font-face {
  font-family: "CustomFont";
  src: url("../../assets/fonts/Poppins-Bold.ttf") format("ttf"),
    url("../fonts/fontname-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
