.about-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .wrapper-info {
    width: 50%;
    h2 {
      font-family: Poppins;
      font-size: 56px;
      font-weight: 600;
      line-height: 72px;
      letter-spacing: -0.03em;
      text-align: left;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
      color: rgba(29, 52, 68, 1);
    }

    p {
      font-family: Poppins;
      font-size: 18px;
      font-weight: 500;
      line-height: 30px;
      text-align: left;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
      color: rgba(91, 91, 91, 1);
      margin: 6px 0;
    }
  }

  .wrapper-image {
    width: 50%;

    img {
      width: 100%;
    }
  }
}

@media screen and (max-width: 768px) {
  .about-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 20px;

    .wrapper-info {
      width: 100%;
      h2 {
        font-family: Poppins;
        font-size: 36px;
        font-weight: 600;
        line-height: 42px;
        letter-spacing: -0.03em;
        text-align: center;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: rgba(29, 52, 68, 1);
      }

      p {
        font-family: Poppins;
        font-size: 18px;
        font-weight: 500;
        line-height: 30px;
        text-align: center;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: rgba(91, 91, 91, 1);
        margin: 6px 0;
      }

      button {
        width: 100%;
        text-align: center;
      }
    }

    .wrapper-image {
      width: 100%;
      margin: 0 auto;

      img {
        width: 100%;
        margin: 0 auto;
      }
    }
  }
}

.about-result {
  display: flex;
  flex-direction: column;

  .result-info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;

    h3 {
      font-family: Poppins;
      font-size: 36px;
      font-weight: 600;
      line-height: 44px;
      letter-spacing: -0.03em;
      text-align: left;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
      color: rgba(13, 19, 23, 1);
    }

    p {
      font-family: Poppins;
      font-size: 18px;
      font-weight: 500;
      line-height: 30px;
      text-align: left;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
      color: rgba(29, 52, 68, 1);
    }
  }

  .result-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin-top: 20px;
    .result-card {
      width: 100%;
      min-height: 200px;
      background-color: #f7f7f7;
      border-radius: 10px;
      margin: 10px;
      position: relative;
      overflow: hidden;
      display: flex;
      justify-content: center;
      flex-direction: column;
      gap: 10px;
      padding: 15px;

      span {
        font-family: Inter;
        font-size: 36px;
        font-weight: 700;
        line-height: 50px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: rgba(245, 138, 7, 1);
      }

      h3 {
        font-family: Poppins;
        font-size: 24px;
        font-weight: 600;
        line-height: 25.56px;
        letter-spacing: -0.03em;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
      }

      p {
        font-family: Poppins;
        font-size: 16px;
        font-weight: 500;
        line-height: 28px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .about-result {
    display: flex;
    flex-direction: column;

    .result-info {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      align-items: center;
      justify-content: center;

      h3 {
        font-family: Poppins;
        font-size: 26px;
        font-weight: 600;
        line-height: 34px;
        letter-spacing: -0.03em;
        text-align: center;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: rgba(13, 19, 23, 1);
      }

      p {
        font-family: Poppins;
        font-size: 18px;
        font-weight: 500;
        line-height: 30px;
        text-align: center;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: rgba(29, 52, 68, 1);
      }
    }

    .result-cards {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      gap: 10px;
      margin-top: 20px;
      .result-card {
        width: 100%;
        min-height: 200px;
        background-color: #f7f7f7;
        border-radius: 10px;
        margin: 10px;
        position: relative;
        overflow: hidden;
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 10px;
        padding: 15px;
        margin: 0 auto;

        span {
          font-family: Inter;
          font-size: 36px;
          font-weight: 700;
          line-height: 50px;
          text-align: left;
          text-underline-position: from-font;
          text-decoration-skip-ink: none;
          color: rgba(245, 138, 7, 1);
        }

        h3 {
          font-family: Poppins;
          font-size: 24px;
          font-weight: 600;
          line-height: 25.56px;
          letter-spacing: -0.03em;
          text-align: left;
          text-underline-position: from-font;
          text-decoration-skip-ink: none;
        }

        p {
          font-family: Poppins;
          font-size: 16px;
          font-weight: 500;
          line-height: 28px;
          text-align: left;
          text-underline-position: from-font;
          text-decoration-skip-ink: none;
        }
      }
    }
  }
}

.local {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  align-items: center;

  .local-info {
    width: 50%;
    h2 {
      font-family: Poppins;
      font-size: 48px;
      font-weight: 600;
      line-height: 56px;
      letter-spacing: -0.03em;
      text-align: left;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
      color: rgba(13, 19, 23, 1);
    }
    p {
      font-family: Poppins;
      font-size: 18px;
      font-weight: 500;
      line-height: 30px;
      text-align: left;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
      color: rgba(91, 91, 91, 1);
      margin-top: 20px;
    }
  }
  .local-image {
    width: 50%;

    img {
      width: 100%;
    }
  }
}

@media screen and (max-width: 768px) {
  .local {
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: center;
    flex-direction: column;

    .local-info {
      width: 100%;
      h2 {
        font-family: Poppins;
        font-size: 28px;
        font-weight: 600;
        line-height: 36px;
        letter-spacing: -0.03em;
        text-align: center;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: rgba(13, 19, 23, 1);
      }
      p {
        font-family: Poppins;
        font-size: 18px;
        font-weight: 500;
        line-height: 30px;
        text-align: center;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: rgba(91, 91, 91, 1);
        margin-top: 20px;
      }
    }
    .local-image {
      width: 100%;

      img {
        width: 100%;
      }
    }
  }
}

.team {
  h3 {
    font-family: Poppins;
    font-size: 48px;
    font-weight: 600;
    line-height: 56px;
    letter-spacing: -0.03em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }

  p {
    font-family: Poppins;
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin: 30px 0;
  }

  .team-persons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }

  .card-person {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 290px;
    text-align: center;
    position: relative;
    overflow: hidden;
    border-radius: 10px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .person-info {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      opacity: 0;
      transition: opacity 0.3s ease;
      flex-direction: column;

      span {
        text-align: center;
        font-family: Poppins;
        font-size: 14px;
        font-weight: 600;
        line-height: 16px;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
      }

      h4 {
        text-align: center;
        font-family: Poppins;
        font-size: 24px;
        font-weight: 600;
        line-height: 32px;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
      }

      p {
        font-family: Poppins;
        font-size: 14px;
        font-weight: 400;
        line-height: 27.83px;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        text-align: center;
      }
    }

    &:hover .person-info {
      opacity: 1;
    }
  }
}

@media screen and (max-width: 768px) {
  .team {
    h3 {
      font-family: Poppins;
      font-size: 38px;
      font-weight: 600;
      line-height: 46px;
      letter-spacing: -0.03em;
      text-align: center;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
    }

    p {
      font-family: Poppins;
      font-size: 18px;
      font-weight: 500;
      line-height: 30px;
      text-align: center;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
      margin: 30px 0;
    }

    .team-persons {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      gap: 20px;
    }

    .card-person {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      max-width: 290px;
      text-align: center;
      position: relative;
      overflow: hidden;
      border-radius: 10px;
      margin: 0 auto;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .person-info {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
        transition: opacity 0.3s ease;
        flex-direction: column;

        span {
          text-align: center;
          font-family: Poppins;
          font-size: 14px;
          font-weight: 600;
          line-height: 16px;
          text-underline-position: from-font;
          text-decoration-skip-ink: none;
        }

        h4 {
          text-align: center;
          font-family: Poppins;
          font-size: 24px;
          font-weight: 600;
          line-height: 32px;
          text-underline-position: from-font;
          text-decoration-skip-ink: none;
        }

        p {
          font-family: Poppins;
          font-size: 14px;
          font-weight: 400;
          line-height: 27.83px;
          text-underline-position: from-font;
          text-decoration-skip-ink: none;
          text-align: center;
        }
      }

      &:hover .person-info {
        opacity: 1;
      }
    }
  }
}

.about-dream {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .about-dream-info {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    h2 {
      font-family: Poppins;
      font-size: 48px;
      font-weight: 600;
      line-height: 56px;
      letter-spacing: -0.03em;
      text-align: left;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
      color: rgba(13, 19, 23, 1);
    }

    p {
      font-family: Poppins;
      font-size: 18px;
      font-weight: 500;
      line-height: 30px;
      text-align: left;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
    }

    .little-card {
      display: flex;
      align-items: center;
      gap: 10px;

      span {
        p {
          font-family: Poppins;
          font-size: 18px;
          font-weight: 500;
          line-height: 30.78px;
          text-align: left;
          text-underline-position: from-font;
          text-decoration-skip-ink: none;
          color: rgba(245, 138, 7, 1);
        }
      }
    }
  }
  .about-dream-image {
    width: 50%;

    img {
      width: 100%;
    }
  }
}

@media screen and (max-width: 768px) {
  .about-dream {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 20px;
    .about-dream-info {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 30px;
      h2 {
        font-family: Poppins;
        font-size: 38px;
        font-weight: 600;
        line-height: 46px;
        letter-spacing: -0.03em;
        text-align: center;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: rgba(13, 19, 23, 1);
      }

      p {
        font-family: Poppins;
        font-size: 18px;
        font-weight: 500;
        line-height: 30px;
        text-align: center;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
      }

      .little-card {
        display: flex;
        align-items: center;
        gap: 10px;
        justify-content: center;

        span {
          p {
            font-family: Poppins;
            font-size: 18px;
            font-weight: 500;
            line-height: 30.78px;
            text-align: left;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;
            color: rgba(245, 138, 7, 1);
          }
        }
      }
    }
    .about-dream-image {
      width: 100%;

      img {
        width: 100%;
      }
    }
  }
}
