// main stye
.herro {
  background-color: #dceaf5;

  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // ! Herro info
    &-info {
      h1 {
        font-family: Poppins;
        font-size: 60px;
        font-weight: 600;
        line-height: 72px;
        letter-spacing: -0.03em;
        text-align: left;
        color: #1d3444;
      }
      p {
        font-family: Poppins;
        font-size: 18px;
        font-weight: 500;
        line-height: 30px;
        text-align: left;
        color: #1d3444;
        margin: 30px 0;
      }

      span {
        display: block;
        font-family: Poppins;
        font-size: 18px;
        font-weight: 400;
        line-height: 30px;
        text-align: left;
        color: #39414980;
        margin: 100px 0 30px 0;
      }
      &-brand {
        display: flex;
        gap: 20px;
        align-items: center;
      }
    }
    // Herro img
    &-img {
      max-width: 900px;
      img {
        width: 100%;
      }
    }
  }
}

// ! companies style
.compaines {
  margin: 100px 0;

  h2 {
    //styleName: H2 Heading;
    font-family: Poppins;
    font-size: 48px;
    font-weight: 600;
    line-height: 56px;
    letter-spacing: -0.03em;
    text-align: left;
    color: #1d3444;
  }

  p {
    font-family: Poppins;
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    text-align: left;
    color: #5b5b5b;
    margin: 30px 0;
  }

  &-cards {
    display: flex;
    align-items: center;
    gap: 30px;

    .compaines-card {
      h3 {
        font-family: Poppins;
        font-size: 24px;
        font-weight: 500;
        line-height: 25.56px;
        letter-spacing: -0.03em;
        text-align: left;
        margin: 20px 0;
      }
      p {
        font-family: Poppins;
        font-size: 16px;
        font-weight: 500;
        line-height: 28px;
        text-align: left;
      }
      img {
        width: 350px;
      }
      a {
        display: block;
        width: 120px;
        height: 17px;
        top: 1606px;
        left: 1200px;
        gap: 0px;
        opacity: 1; /* opacity uchun 'px' bo'lmaydi */
        color: #f58a07;
        transition: transform 0.3s ease;

        &:hover {
          transform: translateX(10px); /* hover bo'lganda o'ngga suriladi */
        }
      }
    }
  }
}

// solutions
.software {
  background-color: #edf7ff;
  padding: 40px 0;

  .solution {
    display: flex;
    flex-direction: column;

    &-info {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    &-cards {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 50px;
      margin: 60px 0;

      .solution-card {
        max-width: 400px;
        background-color: #fff;
        padding: 30px;
        border-radius: 10px;

        img {
          width: 40px;
        }

        h3 {
          font-family: Poppins;
          font-size: 24px;
          font-weight: 600;
          line-height: 25.56px;
          letter-spacing: -0.03em;
          text-align: left;
          margin: 20px 0;
        }
        p {
          font-family: Poppins;
          font-size: 16px;
          font-weight: 500;
          line-height: 28px;
          text-align: left;
        }
      }
    }
  }
}

// ! startup section

.startup {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;

  &-info {
    h2 {
      font-family: Poppins;
      font-size: 35px;
      font-weight: 600;
      line-height: 56px;
      letter-spacing: -0.03em;
      text-align: left;
    }

    p {
      font-family: Poppins;
      font-size: 18px;
      font-weight: 500;
      line-height: 30px;
      text-align: left;
      margin: 10px 0;
    }

    &-cards {
      display: flex;
      align-items: center;
      gap: 20px;
      &-item {
        span {
          font-family: Inter;
          font-size: 36px;
          font-weight: 700;
          line-height: 50px;
          text-align: left;
          color: #f58a07;
        }

        h3 {
          font-family: Poppins;
          font-size: 24px;
          font-weight: 600;
          line-height: 25.56px;
          letter-spacing: -0.03em;
          text-align: left;
        }

        p {
          font-family: Poppins;
          font-size: 15px;
          font-weight: 500;
          line-height: 28px;
          text-align: left;
        }
      }
    }
  }

  &-img {
    width: 695px;

    img {
      width: 520px;
      height: 627px;
    }
  }
}

// !helping

.helping {
  display: flex;
  flex-direction: column;
  padding: 30px;
  border-radius: 20px;
  background-color: #edf7ff;
  position: relative;
  .ribbonImg {
    position: absolute;
    top: -15px;
    right: -15px;
  }
  .helping-btn {
    button {
      border-radius: 20px;
      border: 1px solid #a8bccc;
      opacity: 0px;
      color: #a8bccc;
      background-color: #edf7ff;

      &:hover {
        background-color: #fff;
        color: #f58a07;
        border: 1px solid #fff;
      }
    }
  }

  &-info {
    display: flex;
    align-items: center;
    margin-top: 50px;

    &-text {
      h2 {
        font-family: Poppins;
        font-size: 38px;
        font-weight: 600;
        line-height: 56px;
        letter-spacing: -0.03em;
        text-align: left;
      }
      p {
        font-family: Poppins;
        font-size: 18px;
        font-weight: 500;
        line-height: 30px;
        text-align: left;
        margin: 15px 0;
      }
    }
  }
}

// !energy

.energy {
  background: #f58a07;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin: 40px 0;
  min-height: 518px;

  &-img {
    max-width: 50%;
    height: 518px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      background-color: #ffffff;
    }
  }

  &-info {
    max-width: 50%;
    h3 {
      font-family: Poppins;
      font-size: 48px;
      font-weight: 600;
      line-height: 56px;
      letter-spacing: -0.03em;
      text-align: left;
      margin-bottom: 20px;
    }
    button {
      border: 1px solid #fff;
    }
  }
}

// !dream
.dream {
  display: flex;
  align-items: center;
  gap: 30px;
  justify-content: space-between;

  &-info {
    max-width: 50%;
    h3 {
      font-family: Poppins;
      font-size: 48px;
      font-weight: 600;
      line-height: 56px;
      letter-spacing: -0.03em;
      text-align: left;
    }
    p {
      font-family: Poppins;
      font-size: 18px;
      font-weight: 500;
      line-height: 30px;
      text-align: left;
      margin: 20px 0;
    }

    .cards {
      display: flex;
      align-items: center;

      .card {
        h4 {
          font-family: Poppins;
          font-size: 24px;
          font-weight: 500;
          line-height: 41.04px;
          text-align: left;
        }
        span {
          font-family: Poppins;
          font-size: 18px;
          font-weight: 500;
          line-height: 30.78px;
          text-align: left;
          color: #f58a07;
        }
      }
    }
  }
  &-video {
    width: 50%;

    iframe {
      width: 100%;
      border-radius: 20px;
    }
  }
}
//! latest
.latest {
  background: #dceaf5;
  h1 {
    font-family: Poppins;
    font-size: 48px;
    font-weight: 600;
    line-height: 56px;
    letter-spacing: -0.03em;
    text-align: left;
  }

  &-cards {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-top: 50px;

    .card {
      width: 400px;

      h3 {
        font-family: Poppins;
        font-size: 24px;
        font-weight: 500;
        line-height: 36px;
        letter-spacing: -0.03em;
        text-align: left;
        margin: 10px 0;
      }
      p {
        font-family: Poppins;
        font-size: 16px;
        font-weight: 500;
        line-height: 28px;
        text-align: left;
        margin-bottom: 10px;
      }
      img {
        width: 100%;
      }
    }
  }
}

// ! footer

footer {
  background: #063255;
  height: 463px;
  position: relative;
  display: flex;
  padding: 40px 0;

  .left-bottom {
    background: #f58a07;
    height: 137px;
    width: 20px;
    padding: 40px 20px;
    position: absolute;
    bottom: 0;
    border-top-right-radius: 13px;
  }
  .right-top {
    position: absolute;
    width: 53px;
    height: 287px;
    top: 30px;
    right: 0;
    border-radius: 20px 0px 0px 20px;
    background: #f58a07;

    padding: 40px 20px;
  }

  .footer {
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 30px;
    padding: 20px;

    .footer-card {
      display: flex;
      flex-direction: column;
      gap: 25px;

      h3 {
        font-family: Poppins;
        font-size: 18px;
        font-weight: 600;
        line-height: 27px;
        text-align: left;

        color: #fff;
      }

      h2 {
        font-family: Poppins;
        font-size: 36px;
        font-weight: 600;
        line-height: 44px;
        letter-spacing: -0.03em;
        text-align: left;
        color: #fff;
      }
      a {
        font-family: Poppins;
        font-size: 18px;
        font-weight: 600;
        line-height: 27px;
        text-align: left;
        color: #fff;
      }
      .social {
        display: flex;
        gap: 20px;
      }
      h4 {
        margin-top: 100px;
      }

      input {
        padding: 20px 30px;
        border-radius: 31px;
        border: none;
      }

      p {
        margin-top: 117px;
        font-family: Poppins;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        text-align: left;
      }
    }
  }
}
