.privacy {
  h2 {
    color: rgb(29, 52, 68);
    font-family: Poppins;
    font-size: 64px;
    font-weight: 600;
    line-height: 72px;
    letter-spacing: -3%;
    text-align: left;
  }

  span {
    color: rgb(91, 91, 91);
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: left;
    margin: 30px 0;
  }
  p {
    color: rgb(91, 91, 91);
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: left;
    margin: 10px 0;
  }

  h3 {
    color: rgb(13, 19, 23);
    font-family: Poppins;
    font-size: 24px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: -3%;
    text-align: left;
    margin: 10px 0;
  }
}
